.date{
    font-size: 42px;
}

/* .td1{
    display:flex;
    justify-content: space-evenly;
}
.td2{
    display:flex;
    justify-content: space-evenly;
} */


tr:nth-child(odd){
    background-color: gray;
}